@mixin button-bg($bg, $hover_bg, $text, $hover_text) {
    background: $bg;
    color: $text;
    position: relative;
    z-index: 1;
    border-radius: 6px!important;
    &:before {
      content: "";
      background-color: $hover_bg;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      border-radius: 6px;
      transition: 0.5s;
      z-index: -1;
    }
    &:hover {
      &:before {
        width: 100%;
      }
      border-color: $hover_bg;
      color: $hover_text;
    }
    &:active {
      background:darken($bg,8%);
      color: $text;
    } 
}

@mixin outline-button-bg($bg, $text, $hover_text) {
    color: $text;
    border: 1px solid $bg!important;
    position: relative;
    z-index: 1;
    border-radius: 6px!important;
    &:before {
      content: "";
      background-color: $bg;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      border-radius: 6px!important;
      transition: 0.5s;
      z-index: -1;
    }
    &:hover {
      &:before {
        right: 0;
        width: 100%;
      }
      color: $hover_text;
    }
    &:active {
      background:$bg;
      color: $hover_text;
    } 
}

.jiali-btn-primary {
  @include button-bg($primary, $dark_primary, $white, $white);
}

.jiali-btn-outline-primary {
  @include outline-button-bg($primary, $black, $white)
}

.jiali-btn-ultra-dark-secondary {
  @include button-bg($ultra_dark_secondary, $dark_secondary, $white, $white);
}

.jiali-btn-outline-ultra-dark-secondary {
  @include outline-button-bg($ultra_dark_secondary, $black, $white)
}