@mixin squre_icon($color) {
  display: flex;
    justify-content: center;
    min-width: 50px!important;
    height: 50px;
    border: 1px solid $color;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    color: $color;
    font-size: 24px;
}

.jiali-square-icon-white {
  @include squre_icon($white)
}

.jiali-square-icon-black {
  @include squre_icon($black)
}

.jiali-square-icon-primary {
  @include squre_icon($primary_3)
}

.jiali-square-icon-secondary {
  @include squre_icon($secondary_3)
}