@mixin squre_icon($color) {
  display: flex;
  justify-content: center;
  min-width: 50px!important;
  height: 50px;
  border: 1px solid $color;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  color: $color;
  font-size: 24px;
}

.jiali-square-icon-black {
  @include squre_icon($black)
}

.jiali-square-icon-dark-primary {
  @include squre_icon($dark_primary)
}

.jiali-square-icon-dark-secondary {
  @include squre_icon($dark_secondary)
}