@mixin overlayed-card($color, $from:top) {
    position: absolute;
    left: 0;
    @if( $from == top )
    {
        top: 0;
        background: linear-gradient( to $from, $color, transparent );

    } @else
    {
        bottom: 0;
        background: linear-gradient( to $from, transparent, $color );

    } 
    width: 100%;
    height: 80%;
    border-radius: 15px;
    z-index: 999;

}

// @mixin card-overlay-bg($color, $from) {
//     @if ( $from ) {

//         #{$from}: 0;
//         @if( $from == top or $from == bottom ) {
//             height: 0;
//             width: 100%;
//             background: linear-gradient( to bottom, $color,rgba(255, 255, 255, 0.1));
//         } @else {
//             width: 0;
//             height: 100%;
//             $direction : right;
//             background: linear-gradient( to right, $color,rgba(255, 255, 255, 0.1));
//         }
        
//     } @else {
//         top: 0;
//         height: 0;
//         width: 100%;
//     }
//     position: absolute;
//     left: 0;
//     border-radius: 15px;
//     opacity: 0.8;
//     z-index: 999;
//     transition: 0.5s;
//     .jiali-card-item:hover & {
//         @if( $from ) {
//             @if( $from == top or $from == bottom ) {
//                 height: 100%;
//             } @else {
//                 width: 100%;
//             }
            
//         } @else {
//             height: 100%;
//         }
//         cursor: pointer!important;

//     }
// }

.jiali-overlay-ultra-secondary {
    @include overlayed-card($ultra_secondary, bottom)
}

.jiali-overlayed-card-overlay-dark-primary {
    @include overlayed-card($dark_primary, bottom)
}

.jiali-overlayed-card-overlay-ultra-primary {
    @include overlayed-card( $ultra_primary, bottom)
}

.jiali-overlayed-card-overlay-ultra-secondary {
    @include overlayed-card( $ultra_secondary, bottom)
}


