@mixin section($bg, $width) {
    background: $bg;
    @if( $width )
    {
        width: $width;
    }
    margin: auto
}

.jiali-section-custom-width-transparent {
    @include section(transparent, 90%);
}

.jiali-section-full-width-gray {
    @include section($gray_2, null);
}