@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Montserrat;
}

a {
    color: $secondary_3;
    text-decoration: none!important;
}

h1,h1,h3,h4,h5,h6 {
    color: $secondary_4!important;
}

.jiali-title {
    margin: 16px auto 32px!important;
    font-size: 32px;
    color: $secondary_4;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    &::after {
        content: '';
        width: 50px;
        height: 35px;
        background: linear-gradient($secondary_4,#fff);
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
        transform: rotate(10deg);
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
}

.jiali-title-wrapper {
    text-align: center;
}
.jiali-sub-title {
    font-size: 16px;
}

.jiali-permalink {
    text-decoration: none;
}

// HEADER
.jiali-header { 
    background: linear-gradient( rgba(0,0,0,0.5), $secondary_op );
    padding-top: 8px!important;
}

.jiali-home-header { 
    background: linear-gradient( rgba(0,0,0,0.5), $secondary_op ) , url(/images/banner.jpg);
    background-size: cover;
    position: center;
    height: 100vh;
    padding-top: 8px!important;
}

.jiali-header-top {
    display: flex;
    align-items: center;
}

.jiali-divider {
    margin: 8px!important;
    color: $gray_3;
}

.jiali-site-title {
    padding-top: 200px;
    color: $gray_1;
    text-align: center;
}

.jiali-site-title h1 {
    margin-bottom: 24px;
    font-family: 'IRANSansX';
    font-size: 50px;
    font-weight: 600;
}

.jiali-site-title p {
    font-family: IranSansX;
    font-size: 32px;
    font-weight: 300;
}

.jiali-site-title div {
    padding: 24px;
}

.jiali-login a {
    margin-inline-start: 16px;
}

// LOGIN
.jiali-login {
    display: flex;
    justify-content: end;
}

// LOGO
.jiali-logo {
    display: flex;
    justify-content: center;
}

// AVATAR
.jiali-avatar img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

// LOGO
.jiali-header-logo {
    width: 138px!important;
}

// SEARCH
.jiali-search {
    display: flex;
    justify-content: start;
}

.jilai-search-icon {
    color: $gray_1;
    background-color: transparent!important;
    border-inline-end: 0px!important;
}

.jilai-search-input {
    color:$gray_1;
    text-align: end;
    background-color: transparent!important;
    border-inline-start: 0px!important;
}

.jilai-search-input::placeholder {
    color: $gray_3;
}

// SOCIAL ICONS
.jiali-social-icons {
    justify-content: end;
}

.jiali-social-icons a {
    color: $gray_1;
    font-size: 24px;
    margin-inline-end: 8px ;
}

// TOP MENU
.jiali-top-menu {
    justify-content: start;
}

.jiali-top-menu ul li {
    margin-inline-start: 16px;
}

.jiali-top-menu ul li a {
    position: relative;
    color: $gray_1;
}

.jiali-top-menu ul li a:after {
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0px;
    height: 5px;
    background-color: $primary_1;
    transition: 0.4s;
}

.jiali-top-menu ul li a:hover:after {
    width: 100%;
}

.jiali-top-menu ul li a:hover {
    color: $primary_1;
}

.jiali-top-menu ul li.active a {
    color: $primary_4;
}

.jiali-top-menu ul li.active a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: $primary_4;
}

.jiali-navbar {
    padding: 0px!important;
}

.jiali_suggested_articles {
    margin: 40px auto;
}

.jiali_suggested_article_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jiali_suggested_articles .jiali-card-item {
    height: 100%!important;
}

// CARD
.jiali-card {
    position: relative;
}

.jiali_suggested_articles .jiali-card-item, .jiali-recent-articles-wrapper .jiali-card-item {
    box-shadow: 0 10px 20px 3px $primary_opp;
}

.jiali-card-tags {
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 999;
}

.jiali-card-tag {
    border-radius: 10px;
    padding: 0 4px;
    font-size: 12px;
}

.jiali-card-title {
    color: $black;
    font-weight: 500;
}

.jiali-card-text {
    margin-top: 16px;
    color: $gray_4;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}

.jiali-card-author {
    color: $black;
}

.jiali-card-date {
    color: $gray_4;
    font-size: 14px;
}

// VERTICAL CARD
.jiali-vertical-card {
    display: flex;
    flex-direction: column;
    border: $gray_3 1px solid;
    border-radius: 10px;
    height: 100%;
}

.jiali-vertical-card .jiali-card-img-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
}

.jiali-vertical-card .jiali-card-body {
    padding: 32px 8px 8px;
}

.jiali-vertical-card .jiali-card-info {
    margin-bottom: 0 !important;
}

.jiali-vertical-card .jiali-card-title {
    font-size: 24px;
}

.jiali-vertical-card .jiali-card-author {
    font-size: 16px;
}

// HORIZONTAL CARD
.jiali-card-item {
    position: relative;
    margin-bottom: 8px;
}

.jiali-horizontal-card {
    display: flex;
    border: $gray_3 1px solid;
    border-radius: 10px;
    justify-content: space-between;
    height: 100%;
}

.jiali-horizontal-card .jiali-card-body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jiali-horizontal-card .jiali-card-title {
    font-size: 20px;
}

.jiali-horizontal-card .jiali-card-text {
    font-size: 16px;
}

.jiali-horizontal-card .jiali-card-author {
    font-size: 14px;
}

.jiali-horizontal-card .jiali-card-info .jiali-avatar {
    margin-inline-start: 0;
}

.jiali-card-img-side img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}

// TOP CATEGORIES
.jiali-top-categories-wrapper {
    padding-top:32px;
}

.jiali-top-categories-wrapper .jiali-sub-title {
    margin-bottom: 32px;
    margin-top: -20px;
    text-align: center;
}

.jiali-top-categorirs-item {
    border: 0px!important;
    border-radius: 0px!important;
}

.jiali-top-categorirs-item .jiali-card-img-top {
    border-radius: 10px!important;
}

.jiali-top-categorirs-item .jiali-card-title {
    margin-top: 8px!important;
    font-size: 14px!important;
}

.jiali-top-categorirs-item .jiali-card-text {
    margin-top: 8px;
}

.jiali-top-categorirs-item .jiali-card-body {
    padding: 0px;
}

// Banner
.jiali-double-banner {
    padding-top: 32px;
    padding-bottom: 32px;
}

.jiali-banner-item {
    position: relative;
    border-radius: 15px;
    min-height: 320px!important;
}

.jiali-banner-description {
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    text-align: center;
}

.jiali-banner-title {
    font-size: 32px;
    font-weight: 600;
}

.jiali-banner-button {
    margin-top: 16px
}

// RECENT ARTICLES
.jiali-recent-articles-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
}

.jiali-recent-articles-wrapper .jiali-title {
    margin-bottom: 32px;
}

.jiali-recent-posts-items .jiali-card-item {
    margin-bottom: 16px;
}

.jiali-recent-posts-items .jiali-card-img-top {
    max-height: 325px;
    border-bottom: 1px solid $gray_2;
}

.jiali-recent-posts-items .jiali-card-title {
    margin-top: 0!important;
    margin-bottom: 8px!important;
    font-size: 18px!important;
}

.jiali-recent-posts-items .jiali-card-body {
    padding: 8px!important;
}

.jiali-recent-posts-items .jiali-card-author,.jiali-recent-posts-items .jiali-card-date {
    font-size: 14px!important;
}

.jiali-recent-posts-items .jiali-avatar img {
    width: 28px;
    height: 28px;
}

.jiali-more-articles {
    display: flex;
    justify-content: center;
    padding: 32px;
}

// FEATURE -> SERVICES - RESERVE
.jiali-services-wrapper {
    padding-top: 32PX;
    padding-bottom: 32PX;
}

.jiali-services-wrapper .jiali-feature-item h1{
    color: $primary_3;
}

.jiali-appointment-wrapper {
    padding-top: 32PX;
    padding-bottom: 32PX;
}

.jiali-appointment-wrapper .jiali-feature-item h1{
    color: $secondary_3;
}

.jiali-feature-img {
    position: relative;
    padding: 0!important;
}

.jiali-feature-img img {
    width: 100%;
    border-radius: 15px;
}

.jiali-feature-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jiali-feature-item {
    display: flex;
    flex-direction: column;
}

.jiali-feature-item h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.jiali-feature-item-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jiali-feature-text {
    margin: 0!important;
    padding: 0 16px;
}

// FOOTER
.jiali-footer {
    position: relative;
    background: linear-gradient(to top,rgba(0,0,0,0.2), $secondary_op );
}

.jiali-footer .jiali-title {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate( -50%, -50%);
}

.jiali-footer-col-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

}

.jiali-footer-col-wrapper *{
    color: $black!important;
    line-height: 1.5;
}

.jiali-footer .jiali-title {
    color: $primary_2!important;
}

.jiali-footer .jiali-title::after {
    background: linear-gradient($primary,#fff)!important;
}

.jiali-footer-col {
    margin-top: 64px;
}

.jiali-footer-col .jiali-feature-item {
    padding: 8px 0;
}

.jiali-copyright {
    color: $white;
    text-align: center;
}

// DAILY PICTURES
.jiali-daily-pictures-curousel-wrapper {
    padding: 20px 0;
}

// SINGLE
.jiali-single-wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
}

.jiali-single-top .jiali-card-img-top {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px 3px $primary_opp;
}

.jiali-single-title {
    margin: 16px auto 32px!important;
    font-size: 32px;
    color: $secondary_4;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.jiali-card-overlayed .jiali-card-body {
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.jiali-card-overlayed .jiali-card-title,
.jiali-card-overlayed .jiali-card-text
{
    color: $gray_1!important;
}

.jiali-card-overlayed .jiali-card-author,
.jiali-card-overlayed .jiali-card-date
{
    color: $gray_3!important;
}

.jiali-single-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jiali-single-content {
    margin-top: 32px;
    text-align: justify;
    line-height: 1.75;
    color: $gray_4;
}

.jiali-comment-wrapper {
    margin: 32px auto!important;
}

.jiali-comment-wrapper p {
    margin: 16px auto!important;
}

.jiali-comment-wrapper .comment-form-comment label {
    margin-bottom: 8px;
}

.jiali-comment-wrapper textarea,
.jiali-comment-wrapper input {
    border-radius: 10px;
}

.jiali-comment-wrapper .submit {
    background-color: $secondary_4;
}

.jiali-comment-wrapper > ol > .comment {
    background: $gray_2;
    padding: 15px 15px;
    border-radius: 15px;
    margin: 8px 0;
}

.jiali-comment-wrapper .jiali-comment-item {
    background: $gray_1;
    padding: 5px;
    margin: 8px 0;
    border-radius: 15px;
    border: 1px solid $primary_1;
}

.jiali-comment-wrapper .byuser .jiali-comment-item {
    background: $gray_1;
    border: 1px solid $secondary_1;
}

.jiali-comment-wrapper #comments {
    font-size: 18px;
    margin-top: 24px;
}

