@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Montserrat;
}

// TOP HEADER
.jiali-top-header {
    margin-top: 8px;
    margin-bottom: 16px;
}

// AVATAR
.jiali-avatar {
    margin-inline-start: 8px;
}

.jiali-avatar img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

// LOGO
.jiali-topheader-logo {
    width: 138px!important;
}

.jiali-logo {
    justify-content: center;
}

// SEARCH
.jilai-search-icon {
    background-color: transparent!important;
    border-inline-end: 0px!important;
}

.jiali-search {
    justify-content: end;
}

.jilai-search-input {
    text-align: end;
    background-color: transparent!important;
    border-inline-start: 0px!important;
}

// LOGIN
.jiali-login {
    justify-content: end
}

.jiali-login a {
    margin-inline-start: 8px;
}

// SOCIAL ICONS
.jiali-social-icons {
    justify-content:  end;
}

.jiali-social-icons a {
    color:#000;
    font-size: 24px;
    margin-inline-end: 8px ;
}

// TOP MENU
.jiali-top-menu {
    justify-content: start;
}

.jiali-top-menu ul li {
    margin-inline-start: 16px;
}

.jiali-top-menu ul li a {
    position: relative;
    color: #000;
}

.jiali-top-menu ul li a:after {
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0px;
    height: 5px;
    background-color: #40A7E3;
    transition: 0.4s;
}

.jiali-top-menu ul li a:hover:after {
    width: 100%;
}

.jiali-top-menu ul li a:hover {
    color: #40A7E3;
}

.jiali-top-menu ul li.active a {
    color: #1C83BE;
}

.jiali-top-menu ul li.active a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: #1C83BE;
}

.jiali-navbar {
    padding: 0px!important;
}

.jiali_suggested_articles {
    margin: 40px auto;
}

.jiali_suggested_articles .jiali-title {
    margin-bottom: 24px;
}

.jiali-title {
    font-size: 32px;
}

// CARD
.jiali-card {
    position: relative;
}

.jiali-card-title {
    color: $black;
}

.jiali-card-text {
    margin-top: 8px;
    color: $gray_4;
    font-size: 18px;
}

.jiali-card-author {
    color: $black;
}

.jiali-card-date {
    color: $gray_4;
    font-size: 14px;
}

// VERTICAL CARD
.jiali-vertical-card {
    margin: 1px;
    border: $gray_3 1px solid;
    border-radius: 10px;
}

.jiali-vertical-card .jiali-card-img-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
}

.jiali-vertical-card .jiali-card-body {
    padding: 16px;
}

.jiali-vertical-card .jiali-card-title {
    margin-top: 16px;
    font-size: 24px;
}

.jiali-vertical-card .jiali-card-author {
    font-size: 16px;
}

// HORIZONTAL CARD
.jiali-horizontal-card {
    display: flex;
    border: $gray_3 1px solid;
    border-radius: 10px;
}

.jiali-horizontal-card .jiali-card-img-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
}

.jiali-horizontal-card .jiali-card-body {
    padding: 16px;
}

.jiali-horizontal-card .jiali-card-title {
    font-size: 20px;
}

.jiali-horizontal-card .jiali-card-text {
    font-size: 16px;
}

.jiali-horizontal-card .jiali-card-author {
    font-size: 14px;
}

.jiali-horizontal-card .jiali-card-info {
    position: absolute;
    bottom: 2px;
}

.jiali-horizontal-card .jiali-card-info .jiali-avatar {
    margin-inline-start: 0;
}

img.jiali-card-img-side {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-basis: 200px;
    min-height: 200px;
    width: 200px;
}
