
.jiali-top-header {
    margin-top: 8px;
    margin-bottom: 8px;
}

.jiali-avatar {
    margin-inline-start: 8px;
}

.jiali-avatar img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.jiali-topheader-logo {
    width: 217px!important;
}

.jilai-search-icon {
    background-color: transparent!important;
    border-inline-end: 0px!important;
}

.jilai-search-input {
    text-align: end;
    background-color: transparent!important;
    border-inline-start: 0px!important;
}

