$primary: #E73F23;
$primary_1: #F6B7AD;
$primary_2: #ED6F5A;
$primary_3: #B42B14;
$primary_4: #5A150A;
$secondary: #23CBE7;
$secondary_1: #ADECF6;
$secondary_2: #5AD8ED;
$secondary_3: #149DB4;
$secondary_4: #0A4E5A;
$black: #070707;
$white: #ffffff;
$gray_1: #F9F9F9;
$gray_2: #EDEDED;
$gray_3: #CBCBCB;
$gray_4: #757575;
