$primary: #ED7E7E;
$super_ultra_primary: #FBDFDF;
$ultra_primary: #F6BFBF;
$light_primary: #F29E9E;
$ultra_dark_primary: #E22E2E;
$dark_primary: #9F1616;
$super_dark_primary: #500B0B;
$secondary: #7ED1ED;
$super_ultra_secondary: #DFF4FB;
$ultra_secondary: #BFE8F6;
$light_secondary: #9EDDF2;
$ultra_dark_secondary: #2EB5E2;
$dark_secondary: #167D9F;
$super_dark_secondary: #0B3E50;
$link_blue: #1C9CC7;
$black: #070707;
$white: #ffffff;
$ultra_gray: #F9F9F9;
$light_gray: #EDEDED;
$gray: #CBCBCB;
$dark_gray: #757575;
$apk_color: #3ddb87;
$ios_color: #000000;

