$primary: #40A7E3;
$primary_1: #B7DEF5;
$primary_2: #70BDEA;
$primary_3: #1C83BE;
$primary_4: #0E415F;
$secondary: #E3A540;
$secondary_1: #F5DDB7;
$secondary_2: #EABC70;
$secondary_3: #BE811C;
$secondary_4: #5F400E;
$black: #070707;
$white: #ffffff;
$gray_1: #F9F9F9;
$gray_2: #EDEDED;
$gray_3: #CBCBCB;
$gray_4: #757575;
