@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .jiali-title {
        margin: 16px auto 24px !important;
        font-size: 28px;
    }

    .jiali-feature-item h1 {
        font-size: 22px;
    }

    .jiali-feature-img {
        margin-block-end: 18px;
    }

    .jiali-feature-item {
        margin-block-end: 8px;
    }

    .jiali-appointment-wrapper .jiali-feature {
        display: flex;
        flex-direction: column-reverse;
    }

    .jiali-appointment-wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .jiali-largescreen {
        display: none;
    }

    .jiali-smallscreen {
        display: flex;
    }

    .jiali-top-categorirs-item .jiali-card-body {
        text-align: center;
    }

    .jiali-footer .jiali-title {
        top: 0px;
    }

    .jiali-footer-col {
        margin-top: 42px;
    }
}

@media only screen and (min-width: 768px) {
  
    .jiali-largescreen {
        display: flex;
    }

    .jiali-smallscreen {
        display: none;
    }

}